.tabu{
    width:800px;
}
.tabu-nav{
    display:flex;


}
.tabu-nav-item{
    background: #ccc;
    margin-right: 2px;
    color: #000;
    padding:10px 20px;
    text-decoration: none;
    border-radius: 5px 5px 0 0 ;

}
.tabu-nav-item.is-active{
    background: #000;
    color: #fff;
}
     
.tabu-contents{
    border: 1px solid#ccc;
    padding: 20px;

}
.tabu-contrnts-item{
    display: none;

}